$path: ''

// From GDS's alphagov/govuk_frontend_toolkit
@import 'colours'
@import 'font_stack'
@import 'measurements'
@import 'conditionals'
@import 'device-pixels'
@import 'grid_layout'
@import 'typography'
@import 'shims'

@import 'design-patterns/alpha-beta'
@import 'design-patterns/buttons'
@import 'design-patterns/breadcrumbs'

// From GDS's alphagov/govuk_elements
@import 'elements/helpers'
@import 'elements/reset'

// Base (unclassed HTML elements)
// These are predefined by govuk_template
// If you're not using govuk_template, uncomment the line below.
// HTML elements, set by the GOV.UK template
// @import 'elements/base'

@import 'elements/layout'
@import 'elements/elements-typography'
@import 'elements/buttons'
// @import 'elements/icons'
@import 'elements/lists'
// @import 'elements/tables'
@import 'elements/details'
@import 'elements/panels'
@import 'elements/forms'
@import 'elements/forms/form-block-labels'
@import 'elements/forms/form-date'
@import 'elements/forms/form-validation'
@import 'elements/breadcrumbs'
@import 'elements/phase-banner'
@import 'elements/components'

.list-contents li
  @include core-16

.metadata-school-detail
  dt
    width: 30%
    float: left
    clear: left
    display: inline-block
  dd
    float: left

// Column full width
// ==========================================================================

.column-full
  @include grid-column(1)

.column-one-sixth
  @include grid-column(1/6)


// Type ahead search input
// ==========================================================================
#search
  display: inline

button.search
  margin-bottom: 20px

.form-control
  width: 280px

.tt-dropdown-menu
  width: 422px
  margin-top: 12px
  padding: 8px 0
  background-color: #fff
  border: 1px solid #ccc
  border: 1px solid rgba(0, 0, 0, 0.2)
  -webkit-border-radius: 8px
  -moz-border-radius: 8px
  border-radius: 8px
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2)
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2)
  box-shadow: 0 5px 10px rgba(0,0,0,.2)

.tt-suggestion
  padding: 3px 20px
  font-size: 18px
  line-height: 24px
  color: #555
  p
    margin: 0

.typeahead, .tt-suggestion
  font-weight: normal
  text-align: left

.tt-suggestion.tt-cursor
  color: #fff
  background-color: #0097cf
